@import url(http://fonts.googleapis.com/css?family=Roboto);
::selection {
	background: rgba(27, 120, 202, 1);
	color: #fff;
}
body {
	font-family: "Roboto", sans-serif;
	padding: 2rem;
}
h1 {
	text-align: center;
	font-weight: normal;
}
input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }
/* omnibar styles */

.omnibar {
	display: block;
	text-align: center;
	margin: auto;
}
.omnibar input[type="text"] {
	padding: .5em;
	font-size: 1.5em;
	width: 40%;
	max-width: 550px;
}
.omnibar input[type="submit"] {
	font-size: 1.5rem;
	padding: .55em 2em;
	background: #428bca;
	color: #fff;
	box-shadow: none;
	border: none;
	font-family: inherit;
}
.ui-menu {
	color: inherit;
	font-weight: lighter;
	overflow: hidden;
}
.ui-menu .ui-menu-item {
	padding: 0.25rem;
	width: 100%;
}
.ui-autocomplete .ui-state-default,
.ui-autocomplete.ui-widget-content .ui-state-default {
	background-color: rgba(27, 120, 202, 1);
	border: none;
	color: #525252;
	font-weight: inherit;
}
.ui-autocomplete .ui-state-focus,
.ui-autocomplete.ui-widget-content .ui-state-focus {
	background-color: rgba(27, 120, 202, 1);
	border: none;
	color: #ffffff;
	font-weight: inherit;
}
.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-widget-content .ui-state-hover {
	background-color: rgba(27, 120, 202, 1);
	border: none;
	color: #ffffff;
	font-weight: inherit;
}
.ui-autocomplete .ui-state-active,
.ui-autocomplete.ui-widget-content .ui-state-active {
	background-color: rgba(27, 120, 202, 1);
	border: none;
	color: #ffffff;
	font-weight: inherit;
}
