@import url(http://fonts.googleapis.com/css?family=Roboto);
::selection {
	background: rgba(27, 120, 202, 1);
	color: #fff;
}
body {
	font-family: "Roboto", sans-serif;
	padding: 2rem;
}
h1 {
	text-align: center;
	font-weight: normal;
}
input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }
/* omnibar styles */

.omnibar {
	display: block;
	text-align: center;
	margin: auto;
}
.omnibar input[type="text"] {
	padding: .49em .5em;
	font-size: 1.5em;
	width: 90%;
	max-width: 550px;
}
.omnibar input[type="submit"] {
	font-size: 1.5rem;
	padding: .55em 2em;
	background: #428bca;
	color: #fff;
	box-shadow: none;
	border: none;
	font-family: inherit;
}
div.awesomplete mark, div.awesomplete li:hover mark, div.awesomplete li[aria-selected="true"] mark {
background: hsl(208, 56%, 53%);
color: #fff;
}
